/*HOME FORMS----------------------------*/

#my_nav {
  border-radius: 0;
  margin-bottom: 0;
}


#nav_login {
  margin-right: -3%;
}

#get_started_button {
  width: 100%;
  margin-top: 0;
}

#error {
  color:red;
  float: right;
  margin-top: 0;
}
/*Signup Modal --------------*/

  [id*="user_signup"]  {
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 90%;
  }

   .user_signup_error  {
    margin: auto;
    padding:2px; 
      
    width: 90%;
    color:red;
  }

  #sign_up_button {
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 0;
  }

  #signup_modal .modal-dialog {
      
      max-width: 350px;
      margin-top: 150px;

  }

  #signup_form_header {
    background-color: #049cdb;

  }

  #signup_form_header p {
    margin: 0;
  }

  #view_a {
    text-decoration: none;
    color: black;
  }
           
/*INDEX PAGE ELEMENTS----------------------------------------*/

#task_modal_header {
  background-color: #428bca;
}
  
  #title_error {
    color: red;
  }

  .input_holder {
    width: 100%;
  }

  #break_before_footer {
      height: 40px;
  }

  #main_add {
    width: 100%;
    margin: auto;
  }

  #empty_placeholder {
    height: 100px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    clear:both;
  }

  img {
    opacity:0.7;
    filter:alpha(opacity=70);
  }


  [class*="test1"] {
    
  }
/*NEWLY CREATED LIST ELEMENTS------------------------------*/

    
    [class*="col-"] {
      padding-top: 5px;
      padding-bottom: 5px;
     /* min-height: 20px;*/
      margin-top: 5px;
      /*margin-bottom: 5px;*/
      width: 100%;
       border-radius: 5px;
      border: 1px solid #ddd;
      /*background-color: rgba(86,61,124,.15);*/
      border: 3px solid rgba(86,61,124,.2);
      float: left;
      
    }

      .list_item_header {
        color: white;
        width: 70%;
        /*margin: auto;*/
        white-space: pre-wrap;
       /* min-height: 30px;*/
        margin-left: 2.5%;
        margin-bottom: 0;
        padding-top: 5px;
        font-family: sans-serif;
        font-size: 20px;
        height: auto;
        overflow: auto;
        float: left;
      }

      

    #new_edit_button, #new_delete_button, #new_view_button {
      margin-left: 1%;
      
      float: left;
     /* margin-right: 0.5%;*/
      
    }

   

/*MODAL--------------------------------------------*/
  
  #color_choices {
    margin-right: 10px;
  }

  #list_title, #list_text_entry {
      width: 100%;
      max-width: 100%;   
  }

   [class*="btn-sm color"]{
    float: left;
    margin: 3px;
    height: 23px;
    border: 2px solid rgba(86,61,124,.2);
  }

  [class*="red"], #red {
    background-color: #9d261d;
    
  }
  [class*="orange"], #orange {
    background-color: #f89406;
    
  }
  [class*="gray"], #gray {
    background-color: #555;
   
  } 
  [class*="green"], #green {
    background-color: #46a546;
    
  }
  [class*="blue"], #blue {
    background-color: #049cdb;
    
  }
  [class*="purple"], #purple {
    background-color: #7a43b6;
    
  }

  


/*GENERAL ELEMENTS--------------------------*/

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}


hr {
  margin-top: 40px;
  margin-bottom: 40px;
}


/*FOOTER--------------------------------------*/
html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 90%;
        height: auto !important;
        height: 90%;
        margin: 0 auto;
        background-color: gray;
        
      }

      /* Set the fixed height of the footer here */
      
      #footer {
        height: 80px;
        text-align: center;
        vertical-align: middle;
        font-family: sans-serif;
      }

