/*HOME FORMS----------------------------*/

#my_nav {
  border-radius: 0;
}

#nav_login {
  margin-right: -3%;
}

#get_started_button {
  width: 100%;
  margin-top: 0;
}


/*Signup Modal --------------*/

  [id*="user_signup"]  {
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 90%;
  }

   .user_signup_error  {
    margin: auto;
    padding:2px; 
      
    width: 90%;
    color:red;
  }

  #sign_up_button {
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 0;
  }

  #signup_modal .modal-dialog {
      
      max-width: 350px;
      margin-top: 150px;

  }

  #signup_form_header {
    background-color: #049cdb;

  }

  #signup_form_header p {
    margin: 0;
  }
/*.navigation1 {
  width: 100%;
  height: 60px;
  background-color: #2F363E;
  z-index: 2;
  color: white;
}

    .logo {
      font-size: 20px;
      float:left;
      margin-top: 15px;
    }
    .navigation_links {
      margin-top: 15px;
      color: white;
      float: right;
    }

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
      }

      li a {
        color: white;
        padding: 5px;
        text-decoration: none;
      }
      
      li {display:inline;}

      li a:link {
        color: white;
        padding: 5px;
        text-decoration: none;
      }

      li a:visited {
        color: white;
        padding: 5px;
        text-decoration: none;
      }

      li a:active {
        color: white;
        padding: 5px;
        text-decoration: none;
      }

      li a:hover {
        color: white;
        padding: 5px;
        border-bottom: solid 2px #0099ff;
      }
*/
.error {
  color: red;
}

/*INDEX PAGE ELEMENTS----------------------------------------*/
  
  .container {
    /*max-width: 760px;
    margin: auto;*/
    /*background-image: url('/writers-block.jpg');
        background-size: 100% 100%;*/

  }

  .input_holder {
    width: 100%;
  }

  #break_before_footer {
      height: 40px;
  }

  #main_add {
    width: 100%;
    margin: auto;
  }

  #empty_placeholder {
    height: 100px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    clear:both;
  }

  img {
    opacity:0.7;
    filter:alpha(opacity=70);
  }
/*NEWLY CREATED LIST ELEMENTS------------------------------*/

    /*#new, [id*="new_holder"] {
      border-radius: 5px;
    }*/

    [class*="col-"] {
      padding-top: 5px;
      padding-bottom: 5px;
     /* min-height: 20px;*/
      margin-top: 5px;
      /*margin-bottom: 5px;*/
      width: 100%;
       border-radius: 5px;
      border: 1px solid #ddd;
      background-color: rgba(86,61,124,.15);
      border: 1px solid rgba(86,61,124,.2);
      float: left;
      
    }

      .list_item_header {
        color: white;
        width: 80%;
        /*margin: auto;*/
        white-space: pre-wrap;
       /* min-height: 30px;*/
        margin-left: 2.5%;
        margin-bottom: 0;
        padding-top: 5px;
        font-family: sans-serif;
        font-size: 20px;
        height: auto;
        overflow: auto;
        float: left;
      }

      /*.list_item_body {
        background-color: white;
        width: 95%;
        margin: auto;
        white-space: pre-wrap;
        
        margin: 2.5%;
        margin-top: 0;
        padding: 5px;
        font-family: sans-serif;
        font-size: 14px;
        height: auto;
        overflow: auto;
      }*/

    #new_edit_button {
      margin-left: 2.5%;
      
      float: left;
     /* margin-right: 0.5%;*/
      
    }

    #new_delete_button {
      
      margin-left: 1%;
      float: left;
     /* margin-right: 0.5%;*/
      
    }
   

/*MODAL--------------------------------------------*/
  
  #color_choices {
    margin-right: 10px;
  }

  #list_title, #list_text_entry {
      width: 100%;
      max-width: 100%;   
  }

  #red {
    background-color: #9d261d;
  }
  #orange {
    background-color: #f89406;
  }
  #gray {
    background-color: #555;
  } 
  #green {
    background-color: #46a546;
  }
  #blue {
    background-color: #049cdb;
  }
  #purple {
    background-color: #7a43b6;
  }

  .input_error {
    color: red;
    font-size: 12px;
    width: 100%;
  }



/*GENERAL ELEMENTS--------------------------*/

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}


hr {
  margin-top: 40px;
  margin-bottom: 40px;
}


/*FOOTER--------------------------------------*/
html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 90%;
        height: auto !important;
        height: 90%;
        
        margin: 0 auto;
        background-color: gray;
        /*background-image: url('/writers-block.jpg');
        background-size: 100% 100%;*/
      }

      /* Set the fixed height of the footer here */
      
      #footer {
        height: 80px;
        text-align: center;
        vertical-align: middle;
        font-family: sans-serif;
      }

